fastapi
uvicorn[standard]
python-multipart
gradio
torch
git+https://github.com/huggingface/diffusers.git
accelerate
safetensors
sentencepiece
transformers
xformers
Pillow
numpy
protobuf
spaces
gradio[mcp]